@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for e-tuitionBD */
/* TODO: Add more custom styles later */
.custom-box-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
